{% extends "base.html" %}

{% block title %}Simulador de Portabilidade com Troco{% endblock %}

{% block content %}

<!-- RESULTADO FINAL -->
{% if resultado %}
<div class="alert alert-success mt-4">
    <h4>Resultado</h4>
    <p><strong>Parcela total a consignar:</strong> R$ {{ resultado.parcela }}</p>
    <p><strong>Valor Financiado (com IOF):</strong> R$ {{ resultado.valor_total }}</p>
    <p><strong>IOF:</strong> R$ {{ resultado.iof }}</p>
    <p><strong>Juros de carência:</strong> R$ {{ resultado.juros_carencia }}</p>
    <p><strong>Troco líquido liberado:</strong> R$ {{ resultado.troco_liquido }}</p>
    {% if dados_contratos %}
    <hr>
    <h5>Contratos Informados:</h5>
    <ul>
        {% for c in dados_contratos %}
          <li>
            Nº: {{ c.num_contrato }} | Banco: {{ c.nome_banco }} | Parcela: R$ {{ c.parcela }} | Saldo: R$ {{ c.saldo }}
          </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endif %}

<!-- SCRIPTS -->
<script>
function adicionarContrato() {
    const container = document.getElementById("contratos");
    const novo = document.createElement("div");
    novo.classList.add("contrato", "mb-3", "border", "p-2", "rounded");

    novo.innerHTML = `
        <h5>Contrato</h5>
        <div class="row">
            <div class="col-md-3">
                <label>Numero do Contrato</label>
                <input type="text" name="num_contrato" class="form-control">
            </div>
            <div class="col-md-3">
                <label>Banco Nome</label>
                <input type="text" name="nome_banco" class="form-control">
            </div>
            <div class="col-md-3">
                <label>Parcela:</label>
                <input type="number" name="valor_parcelas" class="form-control" step="0.01" required>
            </div>
            <div class="col-md-3">
                <label>Saldo Devedor:</label>
                <input type="number" name="saldos" class="form-control" step="0.01" required>
            </div>
        </div>
        <button type="button" class="btn btn-sm btn-danger mt-2" onclick="removerContrato(this)">Excluir Contrato</button>
    `;
    container.appendChild(novo);
}

function removerContrato(botao) {
    const contrato = botao.closest(".contrato");
    contrato.remove();
}
</script>
{% endblock %}
